.about {

  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
}
.about-text {
  .container-about();
  margin-bottom: 40px;
}
.manufacture-main {
  background: @footer-bg-color;
}
.manufacture-wrap {
  .for-tablet-up({
    .container();
  });
}
.manufacture-img {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  min-height: 300px;
  background-image: url('../img/about-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  .for-tablet-up({
    width: 60%;
    min-height: 400px;
    });
  .for-desctop-up({
    min-height: 500px;
      });
}
.manufacture-text {
  display: none;
  .for-tablet-up({
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    padding: 20px 0 20px;
    min-height: 400px;
    width: 37%;
    font-size: 16px;
    });
  .for-desctop-up({
    min-height: 500px;
    font-size: 18px;
    });

}
.manufacture-text ul {
  padding: 0;
}
.manufacture-text-item {
  .for-tablet-up({
    position: relative;
    margin-bottom: 90px;
    padding-right: 30px;
    list-style: none;
    color: #fff;
    text-align: right;
    text-transform: uppercase;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      margin-right: -26px;
      width: 47px;
      height: 47px;
    }
    &:last-child{
      margin: 0;
    }
    });
  .for-desctop-up({
    margin-bottom: 120px;
    });
}
.manufacture-text-item-1 {
  .for-tablet-up({
    &::before {
      background: url('../img/icons/manuf-ico1.png') no-repeat;
    }
    });
}
.manufacture-text-item-2 {
  .for-tablet-up({
    &::before {
      background: url('../img/icons/manuf-ico2.png') no-repeat;
    }
    });
}
.manufacture-text-item-3 {
  .for-tablet-up({
    &::before {
      background: url('../img/icons/manuf-ico3.png') no-repeat;
    }
    });
}
.low-price {
  .container-about();
  .for-tablet-up({
    position: relative;
    &::before {
      position: absolute;
      content: "+";
      font-size: 30px;
      left: 260px;
      top: 70px;
    }
    &::after {
      position: absolute;
      content: "+";
      font-size: 30px;
      right: 260px;
      top: 70px;
    }
    });
}

.kitchen-look {
  .container-about();
  .for-tablet-up({
    position: relative;
    &::before {
      position: absolute;
      content: "+";
      font-size: 30px;
      left: 260px;
      top: 70px;
    }
    &::after {
      position: absolute;
      content: "+";
      font-size: 30px;
      right: 260px;
      top: 70px;
    }
    });
}

.low-price-item {
  position: relative;
  padding-top: 60px;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 100%;
  .for-tablet-up({
    display: inline-block;
    vertical-align: top;
    width: 27%;
    margin-bottom: 0;
    });
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
  }
}
.low-price-item-1 {
  &::before {
    width: 50px;
    height: 50px;
    margin-left: -25px;
    background: url('../img/icons/low-price-item-1.png') no-repeat;
  }
}
.low-price-item-2 {
  &::before {
    width: 51px;
    height: 51px;
    margin-left: -25px;
    background: url('../img/icons/low-price-item-2.png') no-repeat;
  }
}
.low-price-item-3 {
  &::before {
    width: 55px;
    height: 51px;
    margin-left: -25px;
    background: url('../img/icons/low-price-item-3.png') no-repeat;
  }
}
.item-description {
  margin-top: 5px;
}
.kitchen-look-item {
  position: relative;
  padding-top: 60px;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 100%;
  .for-tablet-up({
    display: inline-block;
    vertical-align: top;
    width: 25%;
    margin-bottom: 0;
    });
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
  }
}
.kitchen-look-item-1 {
  &::before {
    width: 58px;
    height: 50px;
    margin-left: -25px;
    background: url('../img/icons/kitchen-look-item-1.png') no-repeat;
  }
}
.kitchen-look-item-2 {
  &::before {
    width: 52px;
    height: 52px;
    margin-left: -26px;
    background: url('../img/icons/kitchen-look-item-2.png') no-repeat;
  }
}
.kitchen-look-item-3 {
  &::before {
    width: 53px;
    height: 52px;
    margin-left: -26px;
    background: url('../img/icons/kitchen-look-item-3.png') no-repeat;
  }
}
